{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": false,
	"trailingComma": "es5",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": ["*.ts", "*.tsx"],
			"options": {
				"parser": "typescript"
			}
		},
		{
			"files": ["*.js", "*.jsx"],
			"options": {
				"parser": "babel"
			}
		},
		{
			"files": ["*.html"],
			"options": {
				"parser": "html"
			}
		},
		{
			"files": ["*.css"],
			"options": {
				"parser": "css"
			}
		},
		{
			"files": ["*.json"],
			"options": {
				"parser": "json"
			}
		}
	],
	"tailwindStylesheet": "./src/app.css",
	"semi": true,
	"bracketSpacing": true
}
